* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*CHANGE COLOR SCHEME*/
body {
  color: #db7093;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header {
  padding: 20px 35px;
  background-color: #fff0f5;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position:-webkit-sticky;
  top: 0;
  background-image: url("../images/background2.jpg");
  background size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: black;
  margin: 0;
}
/* CHANGE COLOR SCHEME*/
header a {
  text-decoration: none;
  color: #db7093;
}
/*change dimensions */

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

/* END HEADER STYLES HERE */

/*ADD FOOTER STYLE HERE*/
footer {
  background: #fff0f5;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: #db7093;
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

/* MAY NOT HAVE FOOTER A HERE, but placing incase I decide to add anchor*/
/* TAKE OUR ANCHOR IF NECESSARY, would like to add a nav bar here */

footer a {
  color: #db7093;
}

/* END FOOTER STYLE HERE */

/* STYLE ALL SECTION HERE, CSS takes the most recent style and applie it first*/

section {
  padding: 60px;
}

/* HERO STYLE STARTS HERE */

.hero {
  background-image: url("../images/background3.jpg");
  background-size: cover;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: center;
}

.hero-intro {
  width: 90%;
  color: #db7093;
  font-size: 30px;
  display:flex;
  align-self: center;
}

.hero-intro p {
  font-style: italic;
  font-size: 18px;
  color: #db7093;
  display:flex;
  align-self:center;
  padding-left: 80px;
  
}


/*BORDER STYLES*/

.primary-border {
  color:#db7093
}
.section-border {
  color:#db7093
}
.flex-row {
  display:flex;
}
