* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #708090;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  padding-top: 0%;
}
.large {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  padding: 10% 10% 0 10%;
}
.collapsible {
  background-color: rgb(212, 199, 199);
  color: white;
  cursor: pointer;
  padding: 40px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: rgb(212, 199, 199);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
}
.rows {
  display: flex;
  flex-wrap: wrap;
}
/*ADD FOOTER STYLE HERE*/
footer {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: #464340;
}

/* END FOOTER STYLE HERE */

/* STYLE ALL SECTION HERE, CSS takes the most recent style and applie it first*/

/* HERO STYLE STARTS HERE */

/*section styles begin*/

.section-title {
  font-size: 48px;
  color: #555;
  opacity: 0.6;
  padding-bottom: 80px;
  padding-top: 90px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

/*           FEATURE PROJECT styles              */

.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 2rem;
  color: #2f4f4f;
}

.zoom {
  padding: 50px;
  transition: transform 0.2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* .info {
  padding: 25px;
  line-height: 1;
}

.project-info h3 {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-style: italic;
}

.project-info p {
  font-size: 17px;
  text-align: center;
} */
/* CONTACT STYLE */

.contact {
  background: #ecb9ca;
  opacity: 1;
}

.contact h2 {
  color: #db7093;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info div {
  color: #708090;
}

.contact-info h3 {
  color: #2f4f4f;
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1;
  font-size: 20px;
  font-style: normal;
}
/* END CONTACT STYLES*/
